<main>

  <div class="row">
    {{#each chores}}
    {{#unless this.completed}}
      <div class="col s4 m4">
        <div class="fancy-button y card blue-grey darken-1">
            <div class="row">
              <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="delete blue waves-effect waves-light btn-small topright"><i class="material-icons">delete_sweep</i></button>
              </form>
            </div>
          <div class="card-content white-text">
            <a class="title3" href="popup/{{this.id}}">{{this.chore_name}}</a>
              <p class="italics">Chore ID: {{this.id}}</p>      
            <br>
              <p class="title4">Instructions: {{this.instructions}}</p>
          </div>
          <div class="card-action">
            <form action="/chores/{{this.id}}?_method=PUT" method="POST">
              <input type="text" id="userName" name="userName" placeholder="Your Name">
              <button type="submit" class="completeChoreButton btn waves-effect waves-light"> complete</button>
            </form> 
          </div>
        </div>
      </div>
    {{/unless}}
    {{/each}}
  </div>


  <!-- Lower modal to show all completed chores -->
  <hr>
  <div class="row">
    <div class="col m12 center-align">
  <a class="fancy-button blue title4 waves-effect waves-light btn-large modal-trigger" href="#modal3">See All Completed Chores!</a>
  </div>
  </div>

  <!-- Lower modal structure -->
  <div id="modal3" class="modal bottom-sheet">
    <div class="modal-content">
      {{#each chores}}
          {{#if this.completed}}
            <div class='blue chore-completed'>
              <div>
                {{this.chore_name}} completed by {{this.User.name}} for {{this.points}} points!
                  <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
                    <button type="submit" class="delete blue waves-effect waves-light btn-small"><i class="material-icons">clear</i></button>
                  </form>
              </div>
            </div>
          {{/if}}
        {{/each}}
    </div>
    <div class="modal-footer">
      <p class="center-align">
        <a href="#!" class="blue title4 modal-close btn-flat">Close</a>
      </p>  
    </div>
  </div>

</main>