<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Family Chore List!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="chore-title">Type in Chore to be Completed</label>
            <input type="text" id="chore-title" class="form-control" aria-describedby="chore-title" placeholder="enter in the chore">
          </div>
          <div class="form-group">
            <label for="chore-description">What all needs to be Completed</label>
              <textarea class="form-control" id="chore-description" aria-describedby="chore-description" placeholder="type chore in detail"></textarea>
            <label for="chore-points">How many points for completion</label>
              <textarea class="form-control" id="chore-points" aria-describedby="chore-points" placeholder="how many points"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Chores:</h3>
        <ul id="chore-list" clas  s="list-group">
          {{#each chores}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="chore/{{this.id}}">{{this.title}}</a>
            <a href="chore/{{this.id}}">{{this.points}}</a>
                <form action="/chores/{{this.id}}?_method=PUT" method="POST">
                  <input type="text" id="userName" name="userName" placeholder="Your Name">
                  <button type="submit" class="waves-effect waves-light btn"> Devour</button>
                </form>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

      <div class="col s6">
        {{#each chores}}
          {{#unless this.completed}}
            <div class="row">
              <div class="choreName">
                  <div class='choreAvailable'>{{this.title}}</div>
              </div>

            </div>
          {{/unless}}
        {{/each}}
      </div> 


  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
