<div id="home">
  <div class="container">
    
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>


    <div class="row">

      <div class="col s6">
        {{#each chores}}
          {{#unless this.completed}}
            <div class="row">
              <div class="choreName">
                  <div class='choreAvailable'>{{this.chore_name}}</div>
              </div>

              <div class="choreTodo">
                <form action="/chores/{{this.id}}?_method=PUT" method="POST">
                  <input type="text" id="userName" name="userName" placeholder="Your Name">
                  <button type="submit" class="waves-effect waves-light btn"> Devour</button>
                </form>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div> 
      
      
      <div class="col s6">
        {{#each chores}}
          {{#if this.completed}}
            <div class='choreCompleted'>
              <div>
                {{this.chore_name}} devoured by {{this.User.name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>



  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
