<main>


<div class="row">
  <div class="col s12">
    <form action="/chores" method="POST">
      <input type="text" id="name" name="chore_name" placeholder="Chore Name">

      <input type="text" id="instructions" name="chore_instructions" placeholder="Instructions">

      <input type="text" id="points" name="chore_points" placeholder="Points">

      <button type="submit" class="addChoreButton">enter the chore instructions</button>

    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
       <h3>Chores:</h3>
               <ul id="example-list" class="list-group">
        {{#each chores}}
          {{#unless this.completed}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="popup/{{this.id}}">{{this.chore_name}}</a>
                <form action="/chores/{{this.id}}?_method=PUT" method="POST">
                  <input type="text" id="userName" name="userName" placeholder="Your Name">
                  <button type="submit" class="waves-effect waves-light btn"> complete</button>
                </form> </li>
           {{/unless}}
        {{/each}}
        </ul>
  </div>
</div>

  <div class="container">
    <div class="row">

   
      
      <div class="col s12">
        {{#each chores}}
          {{#if this.completed}}
            <div class='burgerEaten'>
              <div>
                {{this.chore_name}} completed by {{this.User.name}} for {{this.points}} points
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div> 

</main>

